alias clr=clear
alias subl="/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl"

alias py=python

alias gac="git add --all :/ && git commit"
alias gacp="git add --all :/ && git commit && git push"
alias grao="git remote add origin"
alias gs="git status"

ionr="ionic run --device -l -s -c"

# Remove all .DS_Store files recursively
alias rvdsstore='sudo find . -name ".DS_Store" -depth -exec rm {} \;'

# Vagrant aliases
alias v:up="vagrant up"
alias v:down="vagrant halt"
alias v:reload="vagrant reload"
alias v:in="vagrant up && vagrant ssh"
alias v:rp="vagrant reload --provision"
alias v:i="v:in"
alias v:r="v:reload"
alias v:d="v:down"
alias v:ri="v:r && v:i"
alias v:rpi="v:rp && v:i"

# Get week number
alias week='date +%V'

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# Merge PDF files
# Usage: `mergepdf -o output.pdf input{1,2,3}.pdf`
alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Android Studio - Android SDK
export ANDROID_HOME=~/Library/Android/sdk
export PATH=$PATH:$ANDROID_HOME/platform-tools:$ANDROID_HOME/build-tools/23.0.1:$ANDROID_HOME/tools

# Hostfile
alias reloadHosts='dscacheutil -flushcache'
